* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-home {
    margin-top: 10px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

form {
    margin: 20px auto;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #17ff02af;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5dd319;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}
